.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

.selected {
  background: rgba(0, 113, 255, 0.09);
  border: 1px solid #0085FF;
  color: #0085FF;
}

.selected:focus {
  background: rgba(0, 113, 255, 0.09);
  border: 1px solid #0085FF;
  color: #0085FF;
}

.text {
  margin: 4px;
}

.radio-btn {
  width: 16px;
  height: 16px;
  outline: none;
  border: 1px solid #000;
  margin: 4px;
}

.gsm {
  border-radius: 8px;
}

.nasilje {
  border-radius: 8px;
}

.ums {
  border-radius: 8px;
}

.miu{
  border-radius: 8px;
}

.kradja {
  border-radius: 8px;
}

.zatvori {
  width: 225px;
  background-color: white;
  color: #000;
  font-weight: bold;
  padding: 10px;
}

.zatvori:hover {
  background-color: #f6f6f6;
  color: #000;
}

.dalje {
  width: 225px;
  padding: 10px;
}

.subtitle {
  margin-top: -20px;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .modal-footer{
    flex-direction: column;
    align-items: center;
  }

  .modal-footer{
    margin-bottom: 1rem;
  }

}
