@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.c-font-poppins {
    font-family: 'Poppins', sans-serif;
}

.c-form-width {
    width: 420px;
}

.c-outline {
    border: solid lightgray 1px;
    box-shadow: 3px 3px 20px #0d6efd;
    border-radius: 20px;
    padding: 30px;
}